*{
    /* universal selector */
    font-family: 'Courier New', Courier, monospace;

}
h1{
    /* element selector */
    color: #1b74e4;
}
#searchbtn{
    /* id selector */
    background-color: black;
    color: white;
}
.userbtn{
    /* class selector */
    background-color: aqua;
}